<div>
	
	<h1>products</h1>
	
	<div class="row">
		
		{{# each products}}
			
			<h2><a href="{{productUrl slug}}">{{{title}}}</a></h2>
			<img src="{{{cloudinaryUrl image}}}" alt="">
		{{/each}}
	</div>
	
</div>
